#theme() {
  .light() {
    --color-background-main: #ffffff;
    --color-flat-main: #f1f1f1;
    --color-flat-stroke-main: #dfdfdf;
    --color-field-main: #f4f4f4;
    --color-blue-main: #3583e5;
    --color-blue-darker-main: #3075e0;
    --color-red-main: #E93B43;
    --color-red-darker-main: #CC2D39;
    --color-green-main: #6AD958;
    --color-green-darker-main: #6DC260;
    --color-yellow-main: #FFB90F;
    --color-yellow-darker-main: #DD9D09;
    --color-text-main: #000000;
    --color-text-gray-main: #777777;
    --color-filter-icon-main: invert(0%) sepia(90%) saturate(0%) hue-rotate(296deg) brightness(110%) contrast(101%);
    --color-filter-icon-invert-main: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(216deg) brightness(103%) contrast(103%);
    --color-default-shadow-main: 0 0 25px rgba(0, 0, 0, 0.15);
    --color-minimal-shadow-main: 0 0 25px rgba(0, 0, 0, 0.07);
  }

  .dark() {
    --color-background-main: #ffffff;
    --color-flat-main: #f1f1f1;
    --color-flat-stroke-main: #dfdfdf;
    --color-field-main: #f4f4f4;
    --color-blue-main: #3583e5;
    --color-blue-darker-main: #3075e0;
    --color-red-main: #E93B43;
    --color-red-darker-main: #CC2D39;
    --color-green-main: #6AD958;
    --color-green-darker-main: #6DC260;
    --color-yellow-main: #FFB90F;
    --color-yellow-darker-main: #DD9D09;
    --color-text-main: #000000;
    --color-text-gray-main: #777777;
    --color-filter-icon-main: invert(0%) sepia(90%) saturate(0%) hue-rotate(296deg) brightness(110%) contrast(101%);
    --color-filter-icon-invert-main: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(216deg) brightness(103%) contrast(103%);
    --color-default-shadow-main: 0 0 25px rgba(0, 0, 0, 0.15);
    --color-minimal-shadow-main: 0 0 25px rgba(0, 0, 0, 0.07);
  }
}
