#theme() {
  .light() {
    --color-background-main: #FFFFFF;
    --color-flat-main: #F1F1F1;
    --color-flat-stroke-main: #DFDFDF;
    --color-blue-main: #3583E5;
    --color-text-main: #000000;
  }

  .dark() {
    --color-background-main: #FFFFFF;
    --color-flat-main: #F1F1F1;
    --color-flat-stroke-main: #DFDFDF;
    --color-blue-main: #3583E5;
    --color-text-main: #000000;
  }
}
